/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans&family=Poppins&family=Roboto&family=Rubik&family=Work+Sans:ital,wght@0,400;1,300&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.bg{
    background:linear-gradient(60deg, #eff3f621 0%, #eff3f6 63.47%);;
}
:root{
    --primary-color:#00CC96;
    --secondary-color:#666666;
    
    
}
.primary-color{
    color: var(--primary-color);
}
.secondary-color{
    color: var(--secondary-color);
}
.btn-bg{
    background: var(--primary-color);
}